/*
Copyright 2024 HUMAN Security.
Use of this source code is governed by a MIT style
license that can be found in the LICENSE file.
*/

.ComponentBox {
    margin: 40px;
    display: flex;
}

.component-enabled {
    height: 39px;
    padding: 25px 10px 1px;
    border-radius: 6px 0 0 6px;
    border: 1px solid #545454;
    cursor: pointer;
    color: #00ffbb;
}

.component-enabled:hover {
    box-shadow: 0 0 4px 0 #545454cc;
}

.component-enabled.highlighted {
    border: 1px solid #00ffbb;
    box-shadow: 0 0 4px 0 #00ffbb7a;
}

.component-enabled.highlighted:hover {
    box-shadow: 0 0 4px 0 #00ffbbde;
}

.component-enabled-icon {
    opacity: 0;
}

.component-enabled.highlighted .component-enabled-icon {
    opacity: 100;
}

.component-icon {
    height: 39px;
    padding: 13px;
    margin-left: 8px;
    transition: all 100ms;
    border: 1px solid #545454;
}

.component-icon.failure {
    border: rgb(190 86 86);
    box-shadow: 0 0 4px 0 rgba(190, 86, 86, 0.6);
    color: rgb(190 86 86);
}

.component-icon.success {
    border: 1px solid #00ffbb;
    box-shadow: 0 0 4px 0 #00ffbb7a;
    color: #00ffbb;
}

.nav {
    flex-grow: 1;
    margin-left: 8px;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.component-text {
    height: 39px;
    padding: 13px;
    border-radius: 0 6px 6px 0;
    transition: all 100ms;
    display: flex;
    border: 1px solid #545454;
}

.component-text:hover {
    box-shadow: 0 0 4px 0 #545454cc;
}

.highlighted .component-text {
    border: 1px solid #00ffbb;
    box-shadow: 0 0 4px 0 #00ffbb7a;
}

.component-arrow {
    color: #545454;
}

.highlighted .component-text, .highlighted .component-text .component-arrow {
    color: #00ffbb;
}

.component-icon svg {
    width: 12px;
    height: 12px;
    margin-top: 15px;
    margin-left: -1px;
    margin-right: -1px;
}

.default .component-icon {
    color: #f0f0f0;
}

.success .component-icon {
    color: #00ffbb;
}

.component-arrow {
    width: 10px;
    padding-top: 12px;
    border-left: 1px solid #ffffff0f;
    padding-left: 10px;
    font-size: 15px;
}

.component-description {
    flex-grow: 1;
}

.component-id {
    margin-bottom: 3px;
    font-size: 17px;
}

.component-type {
    color: #545454;
    font-size: 12px;
    text-transform: capitalize;
}

.heartbeat {
    animation:heartbeat 5s ease infinite;
}

@keyframes heartbeat {
    0% {
        transform:scale(1);
    }
    2% {
        transform:scale(1.25);
    }
    8% {
        transform:scale(1);
    }
    10% {
        transform:scale(1.25);
    }
    18% {
        transform:scale(1);
    }
    39% {
        transform:scale(0.82);
    }
    59% {
        transform:scale(1);
    }
    80% {
        transform:scale(0.82);
    }
}
