.ComponentOutput {
    color: white;
    position: relative;
    height: 100%;
}

.ComponentOutput .component-output-title {
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    padding: 11px 15px;
    color: #00ffbb;
    background: linear-gradient(90deg, rgb(17 17 19) 0%, rgb(30 36 43) 20%, #1e2328 100%);
    border-bottom: 1px solid #232323;
    height: 55px;
    position: absolute;
    width: 100%;
    box-sizing: border-box;
}

.ComponentOutput .title-secondary {
    color: #939393;
    margin-top: 1px;
}

.ComponentOutput .component-output-title .select {
    font-size: 12px;
    padding: 3px;
    color: #939393;
}

.ComponentOutput .component-output-title .dropdown {
    color: #939393;
}

.ComponentOutput .component-output-title .no-border {
    border: none;
}

.ComponentOutput .component-output-title .action {
    font-size: 18px;
    color: #939393;
    margin-top: 3px;
}

.ComponentOutput .component-output-title .action.primary {
    color: #00ffbb;
}

.ComponentOutput .component-output-title .action.active {
    color: white;
}

.ComponentOutput .component-output-content {
    flex-grow: 1;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
    overflow: auto;
    color: #e4e4e4;
    font-size: 12px;
    padding: 10px;
    position: absolute;
    width: 100%;
    top: 55px;
    bottom: 0;
    box-sizing: border-box;
}

