/*
Copyright 2024 HUMAN Security.
Use of this source code is governed by a MIT style
license that can be found in the LICENSE file.
*/

.ComponentPanel {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ComponentPanel .header {
    background: linear-gradient(90deg, rgb(17 17 19) 0%, rgb(30 36 43) 20%, #1e2328 100%);
    border-bottom: 1px solid #2e2e2e;
    display: flex;
    justify-content: space-between;
}

.ComponentPanel .title-control {
    padding-left: 8px;
    padding-top: 8px;
    display: flex;
}

.ComponentPanel .back-button {
    margin-right: 8px;
}

.ComponentPanel .component-details {
    margin-top: 7px;
}

.ComponentPanel .component-name {
    font-size: 20px;
    text-transform: uppercase;
    color: #00ffbb;
    font-weight: 700;
}

.ComponentPanel .component-status {
    font-size: 12px;
    color: #939393;
    margin-left: 7px;
}

.ComponentPanel .back-icon {
    color: #00ffbb;
}

.ComponentPanel .actions {
    padding: 15px;
}

.ComponentPanel .tabs {
    padding-left: 43px;
}

.ComponentPanel .tab {
    color: #939393;
}

.ComponentPanel .component-title {
    margin-bottom: 2px;
}

.ComponentPanel .status {
    font-size: 10px;
    margin-top: 10px;
}

.ComponentPanel .status.stopped {
    color: #545454;
}

.ComponentPanel .content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.ComponentPanel .tabs-content {
    flex-grow: 1;
}
