/*
Copyright 2024 HUMAN Security.
Use of this source code is governed by a MIT style
license that can be found in the LICENSE file.
*/

.ComponentTitle .component-title-link {
    color: inherit;
    text-decoration: none;
}

.ComponentTitle .component-title-link:hover {
    text-decoration: underline;
}

.ComponentTitle .component-title {
    margin-bottom: 2px;
}

.ComponentTitle .status {
    font-size: 10px;
    margin-top: 10px;
}

.ComponentTitle .status.idle {
    color: #545454;
}

.ComponentTitle .status.failed {
    color: rgb(190 86 86);
}

.ComponentTitle .icon {
    margin-bottom: -2px;
    margin-right: 5px;
}
