/*
Copyright 2024 HUMAN. All rights reserved.
Use of this source code is governed by a MIT style
license that can be found in the LICENSE file.
*/

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
