/*
Copyright 2024 HUMAN Security.
Use of this source code is governed by a MIT style
license that can be found in the LICENSE file.
*/

.OfflinePanel {
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg, rgb(9 10 10) 0%, rgb(17 19 25) 100%);
    box-shadow: inset 2px 0 6px #00000078;
    padding: 100px;
    text-align: center;
    color: #b3b3b3;
    font-size: 14px;
}

.OfflinePanel .icon {
    margin-bottom: 20px;
}

.OfflinePanel .icon img {
    width: 260px;
}
