/*
Copyright 2024 HUMAN. All rights reserved.
Use of this source code is governed by a MIT style
license that can be found in the LICENSE file.
*/

.SplitPanel {
    position: relative;
    height: 100%;
}

.SplitPanel .title {
    background: linear-gradient(90deg, rgb(17 17 19) 0%, rgb(30 36 43) 20%, #1e2328 100%);
    border-bottom: 1px solid #232323;
    font-size: 12px;
    padding: 11px 15px;
    box-sizing: border-box;
    text-align: right;
    display: flex;
    justify-content: space-between;
}

.SplitPanel .title .info {
    font-size: 13px;
    font-weight: 600;
    color: #939393;
    line-height: 40px;
}

.SplitPanel .title .info.scrolling-mode {
    color: #00ffbb;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.SplitPanel .title .action {
    color: #939393;
}

.SplitPanel .title .action.Mui-disabled {
    color: #4a4a4a;
}

.SplitPanel .split {
    position: absolute;
    top: 63px;
    bottom: 0;
    width: 100%;
    overflow-y: auto;
}

.SplitPanel .panel {
    height: 300px;
    border-right: 1px solid #232323;
    border-bottom: 1px solid #232323;
}

.SplitPanel .panel.scrolling {
    cursor: ns-resize;
}
